<<<<<<< HEAD
.styledFont {
  color:purple;
}

img {
    border: 1px solid transparent;
   max-width:55%;
  height: auto;
}

h2 {
    margin-left: 1600px;
}

h1 {
  background-color:teal;
  border-style: solid;
  border-width: medium;
}

h3{
  font-size:50px;
}

form {
  font-size:40px;
=======
.styledFont {
  color:purple;
}

img {
    border: 1px solid transparent;
   max-width:20%;
  height: auto;
}

h2 {
    margin-left: 1600px;
}

h1 {
  background-color:teal;
  border-style: solid;
  border-width: medium;
}

h3{
  font-size:50px;
}

form {
  font-size:40px;
>>>>>>> 7c3255c28b11b578e3d71942ed3d871b40fcc8f1
}